@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v10/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD55TecYQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newscycle/v17/CSR64z1Qlv-GDxkbKVQ_fOAKTfl8tOQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newscycle/v17/CSR54z1Qlv-GDxkbKVQ_dFsvWNReuc4nG2o.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.mainBackground {
  background-image: url('../componentsSources/background-colors.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.videoDiv {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.divIframe {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.displayIntro,
.divIframe {
  z-index: 10;
  width: 44%;
  height: 30%;
  margin-left: 20.3%;
  margin-top: 5.7%;
}

.display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 99.2%;
  height: 32%;
  z-index: 10;
}

.display,
.displayIntro {
  border: 3px solid #49191b;
  border-radius: 10px 10px 10px 10px;
}

.hidden {
  display: none;
}

.tvBorder {
  position: absolute;
  margin-top: 1%;
  width: 70%;
  align-self: center;
  z-index: 0;
}

.buttonContainer {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.backButton {
  align-self: center;
  background-color: #8338ec;
  color: #ffbe0b;
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  border-radius: 30px 30px 30px 30px;
  padding: 0 1.2rem 0 1.2rem;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .buttonContainer {
    padding-top: 5%;
  }

  .videoDiv {
    padding-top: 6%;
  }
}

@media only screen and (max-width: 768px) {
  .buttonContainer {
    padding-top: 8%;
  }

  .videoDiv {
    padding-top: 13%;
  }
  .displayIntro,
  .divIframe {
    width: 53%;
    height: 33%;
    margin-left: 13.5%;
    margin-top: 6.9%;
  }

  .display {
    height: 38%;
  }

  .tvBorder {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .buttonContainer {
    padding-top: 13%;
  }

  .backButton {
    font-size: 1.8rem;
    padding: 0 1.2rem 0 1.2rem;
  }

  .videoDiv {
    padding-top: 20%;
  }
}
