@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v10/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD55TecYQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.background {
  background-image: url('../componentsSources/background-colors.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.titulo {
  padding-top: 1.5rem;
  line-height: 8rem;
  color: #8338ec;
  font-family: 'Shadows Into Light', cursive;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
}

.spanTitulo {
  font-size: 7.5rem;
  color: #ffbe0b;
}

.subtitulo {
  padding-top: 1rem;
  color: #8338ec;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.lastSpan {
  color: #ffbe0b;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.rotate {
  position: absolute;
  margin-top: 0.8%;
  z-index: 10;
  align-self: center;
  cursor: pointer;
  animation: rotation 2s infinite linear;
}

.fadeImg1 {
  position: absolute;
  z-index: 10;
  align-self: center;
  animation: rotationFade 2s linear;
  animation-duration: 2s;
}

.fadeImg2 {
  z-index: 0;
  align-self: center;
  margin-left: 0.9%;
  animation: fade 2s linear;
  animation-duration: 2s;
}

.wheelContent {
  z-index: 0;
  align-self: center;
  margin-left: 0.9%;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationFade {
  from {
    transform: rotate(0deg);
    opacity: 100%;
  }
  to {
    transform: rotate(359deg);
    opacity: 0%;
  }
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@media only screen and (max-width: 1024px) {
  .titulo {
    line-height: 6.5rem;
    font-size: 5.5rem;
  }

  .spanTitulo {
    font-size: 6.5rem;
  }

  .subtitulo {
    padding-top: 1.2rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .titulo {
    line-height: 6rem;
    font-size: 5rem;
  }

  .spanTitulo {
    font-size: 6rem;
  }

  .subtitulo {
    padding-top: 1.5rem;
    margin: 0 1.5rem 0 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .titulo {
    line-height: 4.5rem;
    font-size: 3.5rem;
  }

  .spanTitulo {
    font-size: 4.5rem;
  }

  .subtitulo {
    margin: 0 1rem 0 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .container {
    margin-top: 3%;
  }

  .rotate,
  .fadeImg1 {
    margin-top: 0.8%;
    width: 80%;
  }

  .fadeImg2 {
    width: 83%;
    margin-left: 3%;
  }

  .wheelContent,
  .fadeImge {
    width: 83%;
    margin-left: 3%;
  }
}
