@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v10/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD55TecYQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.background {
  background-image: url('../componentsSources/background-colors.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 730px;
}

.titulo {
  padding-top: 1.5rem;
  line-height: 8rem;
  color: #8338ec;
  font-family: 'Shadows Into Light', cursive;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
}

.spanTitulo {
  font-size: 7.5rem;
  color: #ffbe0b;
}

.subtitulo {
  padding-top: 1rem;

  color: #8338ec;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.lastSpan {
  color: #ffbe0b;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.rotate {
  position: absolute;
  margin-top: 0.8%;
  z-index: 10;
  align-self: center;
  cursor: pointer;
  animation: rotation 2s infinite linear;
}

.fadeImg1 {
  position: absolute;
  z-index: 10;
  align-self: center;
  animation: rotationFade 2s linear;
  animation-duration: 2s;
}

.fadeImg2 {
  z-index: 0;
  align-self: center;
  margin-left: 0.9%;
  animation: fade 2s linear;
  animation-duration: 2s;
}

.wheelContent {
  z-index: 0;
  align-self: center;
  margin-left: 0.9%;
  cursor: pointer;
}

.voltar {
  color: #8338ec;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  padding-top: 1%;
}
.videoDiv {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

iframe {
  margin-left: 20.7%;
  margin-top: 5.5%;
  z-index: 10;
  border: 3px solid #49191b;
  border-radius: 3%;
}

.tvBorder {
  position: absolute;
  margin-top: 1%;
  width: 1000px;
  align-self: center;
  z-index: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationFade {
  from {
    transform: rotate(0deg);
    opacity: 100%;
  }
  to {
    transform: rotate(359deg);
    opacity: 0%;
  }
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
